In [1]:
import warnings
warnings.filterwarnings('ignore')

import os
import sys
import logging
import pandas as pd
import numpy as np
sys.path.append(os.path.dirname(os.path.abspath('')))
from auto_ab.splitter.params import SplitBuilderParams

logging.basicConfig(level = logging.INFO)

%load_ext autoreload
%autoreload 2
from auto_ab.splitter.split_builder import SplitBuilder

# Кейс №6. Выделение групп

In [2]:
df = pd.read_csv('./data/ab_data.csv')
df["moda_city"] = np.random.randint(1, 5, df.shape[0])
df["moda_city"] = df["moda_city"].astype(str)
df["country"] = np.random.randint(1, 3, df.shape[0])
df["id"] = df.index

In [3]:
split_builder_params = SplitBuilderParams(
    map_group_names_to_sizes={
        'control': 10000,
        'target': 20000,
        'target1': 30000
    },
    main_strata_col = "moda_city",
    split_metric_col = "height_now",
    id_col = "id",
    cols = ["height_prev"],
    cat_cols=["country"],
    pvalue=0.05,
    n_top_cat=5,
    stat_test="ttest_ind",
    n_bins_rto = 6,
    bin_min_size = 500
)

In [4]:
split_builder = SplitBuilder(df, split_builder_params)

In [5]:
split = split_builder.collect()

In [6]:
split.head()

,height_now,height_prev,weight_now,weight_prev,noise_now,noise_prev,groups,id,moda_city,country,numerator,denominator,conversion,strata,group_name
0,178.610565,173.386388,173.195935,180.831845,11.664751,2.711829,B,1,1,0.49868,1,4,1,121,target1
1,180.382301,178.563579,174.520065,181.571024,7.183178,-0.453939,A,2,1,0.49868,2,2,1,121,target1
2,179.764218,177.979317,177.076199,181.064864,4.990621,2.444131,A,5,2,0.49868,2,3,1,22-1,target1
3,175.305373,170.461667,172.200706,176.739768,3.625984,4.207838,A,7,4,0.50132,1,3,1,41-1,target1
4,180.648200,174.995262,177.967831,183.040187,11.027942,-0.100431,A,11,2,0.50132,3,1,1,22-1,control